[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=2.0"
flask-mail = ">=0.9"
flask-login = ">=0.5"
flask-cors = ">=3.0"
flask-sqlalchemy = ">=2.5"
flask-migrate = ">=3.1"
marshmallow = ">=3.14"
celery = {version = ">=5.1", extras = ["rabbitmq", "redis"]}
passlib = {version = ">=1.7", extras = ["argon2"]}
elasticsearch = ">=7.15"
elasticsearch-dsl = ">=7.4"
gunicorn = ">=20.1"

[dev-packages]
pytest = ">=6.2"
pytest-cov = ">=3.0"
faker = ">=9.7"

[requires]
python_version = "3.9"
