[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.0.2"
flask-login = "==0.5.0"
alembic = "==1.7.5"
sqlalchemy = {version = "==1.4.28", extras = ["mysql"]}
celery = "==5.2.3"
passlib = {version = "==1.7.4", extras = ["argon2"]}
marshmallow = "==3.14.1"
gunicorn = {version = "==20.1.0", extras = ["gevent"]}
python-decouple = "==3.5"
statsd = "==3.3.0"

[dev-packages]
pytest = "==6.2.5"
factory-boy = "==3.2.1"

[requires]
python_version = "3.9"
