html,
body,
#root {
    margin: 0;
    height: 100%;
    width: 100%;
    color: white;
    background-color: #282c34;
    display: flex;
}

html {
    position: fixed;
}

#root {
    overflow-y: auto;
}
