@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-6xl;
        @apply font-bold;
    }

    h2 {
        @apply text-4xl;
        @apply font-bold;
    }

    h3 {
        @apply text-3xl;
        @apply font-semibold;
    }

    h4 {
        @apply text-2xl;
        @apply font-medium;
    }

    a {
        @apply font-medium;
        @apply text-accent;
    }
}

:root {
    --color-button-text: #fff;
    --color-primary-100: #dee3ea;
    --color-primary-200: #cdcdcd;
    --color-primary-300: #a3a3a3;
    --color-primary-400: #919191;
    --color-primary-500: #464f56;
    --color-primary-600: #3b4146;
    --color-primary-700: #2f3437;
    --color-primary-800: #242627;
    --color-primary-900: #1e1f1f;
    --color-danger: #f04747;
    --color-danger-hover: #f54c4c;
    --color-accent: #5575e7;
    --color-accent-hover: #5d7ef5;
    --color-accent-disabled: #879eed;
    --color-floating: rgba(17, 19, 20, 0.85);
}

html,
body,
#app {
    @apply w-full;
    @apply h-full;
    @apply text-primary-100;
    @apply bg-primary-900;
    @apply flex;
}

html {
    @apply fixed;
}

#app {
    @apply overflow-y-auto;
}

input:focus,
button:focus {
    @apply outline-none;
}
