[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.0.2"
alembic = "==1.7.6"
sqlalchemy = {version = "==2.0.5.post1", extras = ["postgresql"]}
passlib = {version = "==1.7.4", extras = ["bcrypt"]}
marshmallow = "==3.14.1"
gunicorn = {version = "==20.1.0", extras = ["gevent"]}
python-decouple = "==3.5"
celery = "==5.2.3"

[dev-packages]
pytest = "==7.0.0"
pytest-timeout = "==2.1.0"

[requires]
python_version = "3.10"
